.header{
	text-align: center;
}

.gambar{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.body{
	max-width: 600px;
	margin: 3em auto;
}

.table{
	border-style: solid;
	width: 100%;
}

.footer{
	text-align: center;
}